* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#game-title {
    font-size: 4.5rem;
    position: absolute;
    top: 70px;
}

#hero-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3399ff;

}

#game-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 300px;
    justify-content: center;
}

#board {
    height: 458px;
    width: 458px;
    background-color: lightgray;
    border: 5px solid darkgray;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    align-self: center;
}

.space {
    border: 2px solid darkgray;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    line-height: 166.66px;
    font-size: 7rem;
}


.panl {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    position: absolute;
}

#player-ctrl-panl {
    left: -215px;
    padding: 5px;
}

#score-panl {
    top: -40px;
    gap: 10px;
    /*used left to make div grow rightwards ie away from board */
    display: flex;
    flex-wrap: wrap;

}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    padding: 5px;
    border-radius: 6px;
}

#reset-container {
    position: absolute;
    top: 760px;
}

#start-quit-btn {
    width: 150px;
    height: 40px;
}