#container {
    position: absolute; 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    justify-content: center;
    align-content: center;
}

#paraContainer {
    position: absolute;
    height: 100px;
    width: 100%;
    word-wrap: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.theGrid {
    display: grid;
    position: absolute; 
    height: 85%;
    width: 85%;
    top: 100px;
    border-style: solid;
    border-width: 20px;
    box-sizing: border-box;
    border-color: #86592d;
    align-self: center;

}

.pixels {
    background-color: white;
    height: 1fr;
    width: 1fr;

}

#resetBtn {
    position: relative;
    top: 10px;
    left: 10px;

}

#explanation {
    position: absolute;
    width: 70%;
    text-align: center;
    font-size: 20px;
}
