#container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #3399ff;
}

.squares {
    height: 100%;
    width: 100%;
    background-color: #3399ff;
    justify-content: center;

}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #3399ff;
    justify-content: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 25%;
}

#mainCenter {
    display: flex;
    flex-direction: column;
    height: 2fr;
}

#buttonPanel {
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 640px;
    flex-wrap: wrap;
}

.choiceBtn {
    width: 200px;
    height: 55px;
    font-size: 23px;
}

.scoreHeading {
    color: white;
    font-size: 35px;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
}

.scorePara {
    font-size: 120px;
    padding-top: 45px;
}

#roundSelection {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 25%;
}

#roundSelectionPanel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#howManyRounds {
    color: white;
}