html {
    font-size: 20px; 
    font-family: 'Noto Serif', serif;
    background-color: #4CA3F9;
}

body {
    width: 800px;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}
