/* 
   header font: 'Pacifico', cursive;
   body font: 'Montserrat', sans-seri;
    */


* {
    box-sizing: border-box;
    user-select: none;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

/* all header styles */
#header {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: #49b7f4;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

#title {
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    font-style: italic;
}

#tab-divider {
    height: 1px;
    border: solid black 1px;
}

/* all main styles */

#hero-container {
    display: flex;
    flex-direction: row;
}

#project-nav {
    position: absolute;
    width: 15%;
    background-color: lightgrey;
    top: 150px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    gap: 7px;
}

#add-project-btn {
    display: flex;
    align-items: center;
    gap: 7px;
    height: 40px;
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.65rem;
    border-radius: 20px;
}

#add-project-btn:hover {
    background-color: #49b7f4;
}

#project-nav-tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
}

.project-tab-div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
}

.project-tab-div:hover {
    background-color: #49b7f4;
    opacity: 0.8;
}

.project-tab-name {
    font-family: 'Pacifico', cursive;
    font-size: 1.65rem;
}

.project-btn-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#project-display {
    position: absolute;
    width: 85%;
    height: auto;
    top: 150px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: scroll;
    background-color: #F0F0F0;
}

.sublist-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    padding-right: 75px;
    padding-left: 75px;
    width: 450px;
    min-width: 450px;
    align-items: center;
    border-right: 1px solid black;
    height: max-content;
}

.sublist-header-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sublist-title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-style: italic;
    
}

.add-sublist-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-sublist-btn {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 7px;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
}

.add-sublist-btn:hover{
    background-color: #49b7f4;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.task-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    gap: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Montserrat', sans-seri;
}

.btn-container {
    display: flex;
    flex-direction: row;
    /* padding: 6px; */
    gap: 3px;
}

.add-task-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 7px;
    gap: 6px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-seri;
}

.add-task-btn:hover {
    background-color:#49b7f4;
}

.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid black;
    border-radius: 1rem;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-inner {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.4rem;
}

.checkbox-inner:hover {
    background-color: #000000;
    cursor: pointer;
}

.hide {
    display: none;
}

.edit-delete-btn {
    background-color: transparent;
    border: none;
}

.edit-delete-btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}