#container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #3399ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculatorBody {
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: black;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: 1fr repeat(5, 1fr);
    gap: 3px;
    border: solid 5px black;
    border-radius: 2%;
}

.button {
    flex: 1;
    border: solid 1px black;
    border-radius: 5%;
    background-color: #576675;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: white;
    user-select: none;
}

#display {
    grid-column: span 4;
    border-radius: 2%;
    background-color: #576675;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    color: white;
    user-select: none;
    border: solid 6px black
    
}

#ce {
    grid-column: span 2;
}

#displayPara {
    text-align: right;
    width: 100%;
    margin-right: 10px;
    font-size: 25pt;
}

.clicked {
    transform: scale(1.03);
    background-color: #7d93a8
}